<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanfeng.mapper.UmsAdminMapper">

    <select id="getRoleInfoById" resultType="com.wanfeng.pojo.UmsRole">
        SELECT
            *
        FROM
            ums_role r,
            ums_admin_role_relation ar
        WHERE
            ar.admin_id = #{id}
          AND r.id = ar.role_id;

    </select>
</mapper>